<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Management Dashboard</title>

    <!-- Link to your CSS file -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stiluri.css') }}"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css"
    />

    <!-- Add any other meta tags or link tags as needed -->
  </head>
  <body>
    <!-- Working version of https://dribbble.com/shots/14552329--Exploration-Task-Management-Dashboard -->
    <div class="app">
      <aside class="sidebar">
        <div class="profile-container">
          <img
            src="{{ url_for('static', filename=user_photo) }}"
            alt="Profile Photo"
            class="profile-image"
          />
          <div class="profile-info">
            <h2>John Doe</h2>
            <p>Email: {{ user_email }}</p>
            <p>Team: {{ team }}</p>
            <div class="experience-bar">
              <div class="experience-fill" style="width: 70%"></div>
              <!-- Adjust the width based on experience points -->
            </div>
            <div class="experience-label">Veteran: 70%</div>
          </div>
        </div>
        <button class="profile-button">Achievments</button>
        <div class="team-members">
          <h3>Team Members</h3>
          {% for members in cur_members %}
          <div class="team-member">{{members}}</div>
          {% endfor %}
        </div>
      </aside>
      <main class="project">
        <div class="project-info">
          <h1>Homepage</h1>
          <div class="project-participants">
            <span></span>
            <span></span>
            <span></span>
            <button class="project-participants__add">Add Participant</button>
          </div>
        </div>
        <div class="project-tasks">
          <div class="project-column" data-status="Planned">
            <div class="project-column-heading">
              <h2 class="project-column-heading__title">Task Planned</h2>
              <button class="add-task-button">+</button>
            </div>
            {% for task in tasks_planned %}
            <div
              class="task"
              draggable="true"
              data-task-id="{{ task.task_id }}"
              data-task-status="{{ task.status }}"
            >
              <div class="task__tags">
                <span class="task__tag task__tag--illustration"
                  >{{ task.tag }}</span
                >
                <div class="dropdown">
                  <button class="task__options">
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-content">
                    <button onclick="editFunction()">Edit</button>
                    <button onclick="deleteFunction()">Delete</button>
                  </div>
                </div>
              </div>
              <h3>{{ task.title }}</h3>
              <p>{{ task.description }}</p>
              <div class="task__stats">
                <span
                  ><time datetime="2021-11-24T20:00:00"
                    ><i class="fas fa-flag"></i>Nov 24</time
                  ></span
                >
                <span>{{ users[task.user_id].username }}</span>
                <div class="task__owner">
                  {% if task.user_id == 0 %}
                  <button
                    class="assign-button"
                    data-task-id="{{ task.task_id }}"
                    asignee="{{username}}"
                  >
                    +
                  </button>
                  {% elif task.user_id in users %}
                  <img
                    src="{{ url_for('static', filename=users[task.user_id].image) }}"
                  />
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="project-column" data-status="In Progress">
            <div class="project-column-heading">
              <h2 class="project-column-heading__title">In Progress</h2>
              <a href="/task/add" class="add-task-button">+</a>
            </div>

            {% for task in tasks_in_progress %}
            <div
              class="task"
              draggable="true"
              data-task-id="{{ task.task_id }}"
              data-task-status="{{ task.status }}"
            >
              <div class="task__tags">
                <span class="task__tag task__tag--illustration"
                  >Illustration</span
                ><button class="task__options">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
              </div>
              <h3>{{ task.title }}</h3>
              <p>{{ task.description }}</p>
              <div class="task__stats">
                <span
                  ><time datetime="2021-11-24T20:00:00"
                    ><i class="fas fa-flag"></i>Nov 24</time
                  ></span
                >
                <span>{{ users[task.user_id].username }}</span>
                <div class="task__owner">
                  {% if task.user_id == 0 %}
                  <button
                    class="assign-button"
                    data-task-id="{{ task.task_id }}"
                  >
                    +
                  </button>
                  {% elif task.user_id in users %}
                  <img
                    src="{{ url_for('static', filename=users[task.user_id].image) }}"
                  />
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="project-column" data-status="Needs Review">
            <div class="project-column-heading">
              <h2 class="project-column-heading__title">Needs Review</h2>
              <button class="add-task-button">+</button>
            </div>

            {% for task in tasks_needs_review %}
            <div
              class="task"
              draggable="true"
              data-task-id="{{ task.task_id }}"
              data-task-status="{{ task.status }}"
            >
              <div class="task__tags">
                <span class="task__tag task__tag--illustration"
                  >Illustration</span
                ><button class="task__options">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
              </div>
              <h3>{{ task.title }}</h3>
              <p>{{ task.description }}</p>
              <div class="task__stats">
                <span
                  ><time datetime="2021-11-24T20:00:00"
                    ><i class="fas fa-flag"></i>Nov 24</time
                  ></span
                >
                <span>{{ users[task.user_id].username }}</span>
                <div class="task__owner">
                  {% if task.user_id == 0 %}
                  <button
                    class="assign-button"
                    data-task-id="{{ task.task_id }}"
                  >
                    +
                  </button>
                  {% elif task.user_id in users %}
                  <img
                    src="{{ url_for('static', filename=users[task.user_id].image) }}"
                  />
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="project-column" data-status="Done">
            <div class="project-column-heading">
              <h2 class="project-column-heading__title">Done</h2>
              <button class="add-task-button">+</button>
            </div>

            {% for task in tasks_done %}
            <div
              class="task"
              draggable="true"
              data-task-id="{{ task.task_id }}"
              data-task-status="{{ task.status }}"
            >
              <div class="task__tags">
                <span class="task__tag task__tag--illustration"
                  >Illustration</span
                ><button class="task__options">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>
              </div>
              <h3>{{ task.title }}</h3>
              <p>{{ task.description }}</p>
              <div class="task__stats">
                <span
                  ><time datetime="2021-11-24T20:00:00"
                    ><i class="fas fa-flag"></i>Nov 24</time
                  ></span
                >
                <span>{{ users[task.user_id].username }}</span>
                <div class="task__owner">
                  {% if task.user_id == 0 %}
                  <button
                    class="assign-button"
                    data-task-id="{{ task.task_id }}"
                  >
                    +
                  </button>
                  {% elif task.user_id in users %}
                  <img
                    src="{{ url_for('static', filename=users[task.user_id].image) }}"
                  />
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </main>
      <aside class="task-details">
        <div class="tag-progress">
          <h2>Task Progress</h2>
          <div class="tag-progress">
            <p>Copywriting <span>3/8</span></p>
            <progress class="progress progress--copyright" max="8" value="3">
              3
            </progress>
          </div>
          <div class="tag-progress">
            <p>Illustration <span>6/10</span></p>
            <progress
              class="progress progress--illustration"
              max="10"
              value="6"
            >
              6
            </progress>
          </div>
          <div class="tag-progress">
            <p>UI Design <span>2/7</span></p>
            <progress class="progress progress--design" max="7" value="2">
              2
            </progress>
          </div>
        </div>
        <div class="task-activity">
          <h2>Recent Activity</h2>
          <ul>
            <li>
              <span class="task-icon task-icon--attachment"
                ><i class="fas fa-paperclip"></i
              ></span>
              <b>Andrea </b>uploaded 3 documents
              <time datetime="2021-11-24T20:00:00">Aug 10</time>
            </li>
            <li>
              <span class="task-icon task-icon--comment"
                ><i class="fas fa-comment"></i
              ></span>
              <b>Karen </b> left a comment
              <time datetime="2021-11-24T20:00:00">Aug 10</time>
            </li>
            <li>
              <span class="task-icon task-icon--edit"
                ><i class="fas fa-pencil-alt"></i
              ></span>
              <b>Karen </b>uploaded 3 documents
              <time datetime="2021-11-24T20:00:00">Aug 11</time>
            </li>
            <li>
              <span class="task-icon task-icon--attachment"
                ><i class="fas fa-paperclip"></i
              ></span>
              <b>Andrea </b>uploaded 3 documents
              <time datetime="2021-11-24T20:00:00">Aug 11</time>
            </li>
            <li>
              <span class="task-icon task-icon--comment"
                ><i class="fas fa-comment"></i
              ></span>
              <b>Karen </b> left a comment
              <time datetime="2021-11-24T20:00:00">Aug 12</time>
            </li>
          </ul>
        </div>
      </aside>
    </div>

    <!-- Link to your JS file -->
    <script src="{{ url_for('static', filename='js/back.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/$VERSION/dragula.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js"></script>

    <!-- Add any other script tags as needed -->
  </body>
</html>
